/* header{
  background-color: rgb(135, 165, 135);
  color: whitesmoke;
  text-shadow: 3px 3px 2px black;
  text-align: center; */
/* 
} */
html{background-color: rgb(152, 170, 147);
}
p{margin: 2rem;}
h1{
  /* border-bottom: 3px solid#000; */
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background:whitesmoke;
  text-shadow: 3px 3px 3px rgb(83, 83, 83);
  color: #426849;
  
}

h1:before{
  position: absolute;
  top:-7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content:"";
  border: 4px solid #000;
}

nav{
  border-bottom: 5px solid #ccc;
  position: relative;
}
nav ul{
  position: absolute;
  left: 10%;
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li{
  display: table-cell;
  min-width: 50px;
}
nav ul li a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(80, 45, 17);
}
nav ul li.current{
  font-weight: bold;
  border-top: 5px solid #143116;
}
nav ul li.current a{
  color: #523a2a;
}
nav ul li a:hover{color: #bb0000;
background-color: FbFbdd;}
nav ul li:hover{
  border-top: 5px solid #f8E750;
}

@media screen and(max-width:100%)
{

  html{background-color: rgb(152, 170, 147);
  }

  p{margin: 2rem;}
  
  h1{
    /* border-bottom: 3px solid#000; */
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background:whitesmoke;
    text-shadow: 3px 3px 3px rgb(83, 83, 83);
    color: #426849;
    
  }
  
  h1:before{
    position: absolute;
    top:-7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content:"";
    border: 4px solid #000;
  }
  
  nav{
    border-bottom: 5px solid #ccc;
    position: relative;
  }
  nav ul{
    position: absolute;
    left: 10%;
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  nav ul li{
    display: table-cell;
    min-width: 50px;
  }
  nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(80, 45, 17);
  }
  nav ul li.current{
    font-weight: bold;
    border-top: 5px solid #143116;
  }
  nav ul li.current a{
    color: #523a2a;
  }
  nav ul li a:hover{color: #bb0000;
  background-color: FbFbdd;}
  nav ul li:hover{
    border-top: 5px solid #f8E750;
  }
  


}